:root {
  --regular-font: arial, helvetica, sans-serif;
  --header-bg: rgba(0,0,0,0.3);
  --white: #ffffff;
  --white-grey: #fafafa;
  --black: #000000;
  --black-grey: #cccccc;
}

/*================ Grid Breakpoints and Class Names ================*/
/*================ Media Query Mixin ================*/
/*================ CSS Flexbox ================*/
.flex {
  display: flex;
}

.jcs {
  justify-content: flex-start;
}

.jca {
  justify-content: space-around;
}

.jcc {
  justify-content: center;
}

.jce {
  justify-content: flex-end;
}

.jcb {
  justify-content: space-between;
}

.ais {
  align-items: flex-start;
}

.aic {
  align-items: center;
}

.aie {
  align-items: flex-end;
}

.flex--wrap {
  flex-wrap: wrap;
}

.flex--one-half {
  width: 50%;
}

.flex--two-third {
  width: 66.67%;
}

.flex--one-third {
  width: 33.33%;
}

.flex--one-fourth {
  width: 25%;
}

.flex-column {
  flex-direction: column;
}

@media only screen and (max-width: 414px) {
  .flex--mobile {
    flex-direction: column;
  }

  .flex--one-half,
.flex--one-third,
.flex--two-third {
    width: 100%;
  }

  .flex--one-fourth {
    width: 50%;
  }
}
/*================ CSS Grid ================*/
.grid {
  display: grid;
}

.grid--one-half {
  grid-template-columns: repeat(2, 1fr);
}

.grid--one-third {
  grid-template-columns: repeat(3, 1fr);
}

.grid--one-fourth {
  grid-template-columns: repeat(4, 1fr);
}

@media only screen and (max-width: 414px) {
  .grid--one-half,
.grid--one-third {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid--one-fourth {
    grid-template-columns: repeat(2, 1fr);
  }
}
/*================ Desktop & Mobile ================*/
.block {
  display: block;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.desktop-visible {
  display: block;
}
@media only screen and (max-width: 414px) {
  .desktop-visible {
    display: none;
  }
}

.mobile-visible {
  display: none;
}
@media only screen and (max-width: 414px) {
  .mobile-visible {
    display: block;
  }
}

.desktop-flex {
  display: flex;
}
@media only screen and (max-width: 414px) {
  .desktop-flex {
    display: none;
  }
}

.mobile-flex {
  display: none;
}
@media only screen and (max-width: 414px) {
  .mobile-flex {
    display: flex;
  }
}

body {
  margin: 0;
  font-family: var(--regular-font);
  font-size: 16px;
  line-height: 22px;
  overflow-y: scroll;
  word-break: break-word;
}

.wrapper {
  padding: 0 5px;
  max-width: 1550px;
  min-width: 240px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

img {
  width: 100%;
}

.btn-grey {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f0f0f0;
  color: #434343;
}
.btn-grey:hover {
  text-decoration: none;
  color: #434343;
}

.w-45 {
  width: 45%;
}

.w-30 {
  width: 30%;
}

.w-20 {
  width: 20%;
}

.w-10 {
  width: 10%;
}

.w-5 {
  width: 5%;
}

.bg-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 111;
}
.bg-overlay.active {
  display: block;
}

/*============================================================================
                              Header styles
==============================================================================*/
.ad-header {
  width: 100%;
  position: relative;
  z-index: 2;
  background-color: #f0f0f0;
}

.header-logo-nav .header__nav > a {
  color: var(--black);
  font-size: 15px;
  padding: 0 25px;
  height: 68px;
  line-height: 68px;
  border-bottom: solid 2px transparent;
  font-weight: 500;
}
.header-logo-nav .header__nav > a.active {
  font-weight: 700;
}
.header-logo-nav .header__nav .sub-menu {
  margin: 0;
  cursor: pointer;
  font-size: 15px;
  padding: 0 25px;
  position: relative;
}
.header-logo-nav .header__nav .sub-menu:hover {
  text-decoration: underline;
}
.header-logo-nav .header__nav .sub-menu:hover ul {
  display: block;
}
.header-logo-nav .header__nav .sub-menu ul {
  position: absolute;
  background-color: #f0f0f0;
  width: 120px;
  padding: 10px;
  left: 15px;
  display: none;
}
.header-logo-nav .header__nav .sub-menu ul li a {
  color: var(--black);
  font-size: 15px;
  padding: 5px 0;
  display: inline-block;
}

/*============================================================================
                              Footer style
==============================================================================*/
.popup-header {
  display: none;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111;
  background-color: var(--white);
  border-radius: 10px;
  width: 1000px;
  top: 15%;
  padding: 20px;
}
.popup-header.active {
  display: block;
}
.popup-header .btn-update-header {
  padding: 7px 12px;
  cursor: pointer;
}
.popup-header .popup-header-image img {
  border-radius: 10px;
  max-width: 700px;
  margin-bottom: 30px;
}
.popup-header .popup-header-image .block-header-image {
  opacity: 0;
  height: 0;
  width: 0;
}
.popup-header input {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin-bottom: 10px;
}
.popup-header a {
  padding: 7px 12px;
  color: var(--black);
  display: inline-block;
  margin-left: 10px;
}

/*============================================================================
                              Gallery page
==============================================================================*/
.hdrBg {
  background-position: center center;
  padding-top: 30%;
  background-size: cover;
  position: relative;
  margin: -70px auto 0;
}
@media only screen and (min-width: 1025px) {
  .hdrBg {
    box-shadow: 0 -15px 40px 15px rgba(0, 0, 0, 0.7);
  }
}
.hdrBg .btn-edit-header {
  background-color: #c1c1c1;
  bottom: 30px;
  right: 50px;
  padding: 6px 12px;
  color: var(--black);
  display: none;
}
.hdrBg .btn-edit-header.active {
  display: block;
}
.hdrBg .btn-edit-header:hover {
  text-decoration: none;
}
.hdrBg .btn-add-header {
  background-color: #c1c1c1;
  bottom: 30px;
  right: 120px;
  padding: 6px 12px;
  color: var(--black);
  display: none;
}
.hdrBg .btn-add-header.active {
  display: block;
}
.hdrBg .btn-add-header:hover {
  text-decoration: none;
}

.hdrBgTint {
  background-color: rgba(0, 0, 0, 0.05);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.bHdr {
  text-align: center;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  padding-bottom: 30px;
}

.bHdrTxt {
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: relative;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.5), 1px -1px 0 rgba(0, 0, 0, 0.5), -1px 1px 0 rgba(0, 0, 0, 0.5), 1px 1px 0 rgba(0, 0, 0, 0.5);
  text-shadow: 0 0 2px black, 0 0 3px black;
  padding: 0 5px;
}
.bHdrTxt h1 {
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 40px;
  line-height: 50px;
}
.bHdrTxt span {
  font-weight: 900;
}

.block-add-coll {
  padding: 10px;
}
.block-add-coll form {
  margin-top: 10px;
  display: none;
}
.block-add-coll form.active {
  display: flex;
}
.block-add-coll form button {
  margin-left: 10px;
}

.coll-btns {
  display: none;
  position: relative;
  padding-bottom: 10px;
  z-index: 1;
}
.coll-btns.active {
  display: flex;
}
.coll-btns .selected-coll-name {
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 600;
}
.coll-btns .block-coll__delete {
  margin-left: 10px;
}
.coll-btns .block-coll__edit form {
  position: absolute;
  margin-top: 10px;
  display: none;
}
.coll-btns .block-coll__edit form.active {
  display: flex;
}
.coll-btns .block-coll__edit form button {
  margin-left: 10px;
}

.boxCtnt {
  padding: 10px;
}
.boxCtnt input[type=checkbox] {
  vertical-align: middle;
}
.boxCtnt input:checked ~ .chkBox2_box {
  background: #a0a0a0;
}
.boxCtnt label {
  display: block;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}
.boxCtnt .fTtl {
  font-size: 15px;
  font-weight: 700;
  color: var(--black);
}
.boxCtnt .chkBox2 {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 5px;
  padding-top: 3px;
  cursor: pointer;
  font-size: 16px;
}
.boxCtnt .chkBox2 input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.boxCtnt .chkBox2 input:checked ~ .chkBox2_box:after {
  display: block;
}
.boxCtnt .chkBox2 .chkBox2_box {
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 3px;
  background: #fff;
  border: 2px solid #a0a0a0;
}
.boxCtnt .chkBox2 .chkBox2_box:after {
  box-sizing: unset;
  content: "";
  position: absolute;
  display: none;
  left: 4px;
  top: 1px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.ad-gallerys__lists .ad-gallerys-sidebar {
  width: 20%;
  background-color: var(--white);
  margin-right: 30px;
}
.ad-gallerys__lists .ad-gallerys-items {
  width: 100%;
  position: relative;
  padding-top: 10px;
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list.hdrItems-list--addmore {
  display: none;
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list.hdrItems-list--addmore.active {
  display: block;
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list .hdrItems-list__inner {
  padding: 18px;
  border: 3px solid #ddd;
  position: relative;
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list .hdrItems-list__inner:hover .hdrItems-list__inner-overlay {
  display: block;
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list .hdrItems-list__inner.required {
  border-color: #ff2525;
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list .hdrItems-list__inner .btn-gallery-create {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f0f0f0;
  padding: 10px;
  color: var(--black);
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list .hdrItems-list__inner .hdrItems-list__inner-overlay {
  display: none;
  position: absolute;
  width: calc(100% - 36px);
  height: calc(100% - 36px);
  background-color: rgba(0, 0, 0, 0.4);
}
.ad-gallerys__lists .ad-gallerys-items .hdrItems-list .hdrItems-list__inner .hdrItems-list__inner-overlay label {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: var(--white);
  font-weight: 700;
}

/*============================================================================
                              Gallery create page
==============================================================================*/
.create-gallery {
  margin-top: 10px;
  box-shadow: 0px 2px 7px 6px rgba(0, 0, 0, 0.43);
  border-radius: 5px;
  padding: 20px 15px;
}
.create-gallery .create-gallery__image-desc {
  border: 1px solid #ced4da;
  padding: 30px 30px 30px 60px;
  margin-bottom: 50px;
}
.create-gallery .create-gallery__image-desc h2 {
  font-weight: bold;
}
.create-gallery .create-gallery__image-desc ul {
  margin-top: 30px;
}
.create-gallery .create-gallery__image-desc ul li {
  list-style-type: disc;
  margin-bottom: 15px;
}
.create-gallery .create-gallery__image-desc ul li:last-child {
  margin-bottom: 0;
}

.btn-upload-image {
  width: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
}

/*============================================================================
                              Gallery edit page
==============================================================================*/
.edit-gallery {
  margin-bottom: 50px;
  margin-top: 10px;
  box-shadow: 0px 2px 7px 6px rgba(0, 0, 0, 0.43);
  border-radius: 5px;
  padding: 20px 15px;
  position: relative;
}
.edit-gallery .block-change-image-des {
  max-width: 800px;
  box-shadow: 0px 2px 7px 6px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  padding: 15px;
  border-radius: 10px;
}
.edit-gallery .block-change-image-des .td-img img {
  height: 500px;
  -o-object-fit: contain;
     object-fit: contain;
}
.edit-gallery .block-change-image-des .block-change-image {
  opacity: 0;
}
.edit-gallery .block-change-image-des .btns-change-add-images p {
  width: 100%;
}
.edit-gallery .block-change-image-des .btns-change-add-images a {
  display: none;
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f0f0f0;
  color: #434343;
  padding: 10px;
}
.edit-gallery .block-change-image-des .btns-change-add-images a:hover {
  text-decoration: none;
}

.btn-delete-gallery-trigger {
  margin-left: 10px;
}

.btn-gallery-update-delete a {
  margin-left: 10px;
  padding: 6px 12px;
  color: var(--black);
}
.btn-gallery-update-delete a:hover {
  text-decoration: none;
}

.p-title {
  font-size: 22px;
  margin-bottom: 20px;
}

.p-img-subtitle-des h4 {
  font-size: 16px;
  font-weight: bold;
}

.p-img-subtitle-des img {
  max-width: 20px;
  margin-right: 10px;
}

.block-change-gallery-data {
  background-color: #f0f0f0;
  padding: 50px 10px;
}

.change-gallery-data__inner {
  max-width: 850px;
}
.change-gallery-data__inner .form-group {
  margin: 0;
}
.change-gallery-data__inner .form-group label {
  display: block;
  font-weight: 600;
}
.change-gallery-data__inner .form-group label.form-check-label {
  margin-left: 20px;
  font-weight: 500;
}

.btn-add-category,
.btn-add-artist {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f0f0f0;
  color: #434343;
  padding: 6px 10px;
  display: inline-block;
  margin-bottom: 5px;
}
.btn-add-category:hover,
.btn-add-artist:hover {
  text-decoration: none;
}

.insert-category {
  bottom: -40px;
  width: 100%;
}
.insert-category input {
  width: 80%;
  margin-right: 10px;
}
.insert-category a {
  border-radius: 4px;
  border: solid 1px #bdbdbd;
  background-color: #f0f0f0;
  color: #434343;
  padding: 6px 10px;
  display: inline-block;
}
.insert-category a:hover {
  text-decoration: none;
}

.form-save-gallery .btn-grey,
.form-delete-gallery .btn-grey {
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
}

.insert-category {
  display: none;
}
.insert-category.active {
  display: flex;
}

.piece-count {
  opacity: 0;
  visibility: hidden;
}
.piece-count.active {
  opacity: 1;
  visibility: visible;
}

.popup-insert-artist {
  display: none;
  width: 700px;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111;
  background-color: var(--white);
  border-radius: 10px;
  padding: 20px 10px;
}
.popup-insert-artist.active {
  display: flex;
}
.popup-insert-artist .insert-artist-input {
  width: 100%;
  margin-bottom: 10px;
}
.popup-insert-artist .insert-artist-textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 10px;
}
.popup-insert-artist a {
  padding: 8px 12px;
  margin-left: 10px;
}

/*============================================================================
                              Order page
==============================================================================*/
.td-order-item {
  display: none;
}

.btn-view-items {
  padding: 8px 10px;
}

.popup-order-items {
  left: 50%;
  transform: translateX(-50%);
  z-index: 111;
  background-color: var(--white);
  border-radius: 10px;
  width: 700px;
  top: 50%;
}
.popup-order-items .order-items {
  padding: 20px;
}
.popup-order-items .order-items .order-item {
  padding: 10px 0;
  border-bottom: 1px solid #ced4da;
}
.popup-order-items .order-items .order-item:last-child {
  border: none;
}

.btn-update-status {
  display: none;
}

/*============================================================================
                              User page
==============================================================================*/
.btn-view-profile,
.btn-status {
  padding: 8px 10px;
}

.block-admin-users .chkBox2 {
  margin: 0;
}
