/*============================================================================
                              General layout styles
==============================================================================*/
/*================ Color ================*/
:root {
  --regular-font: arial, helvetica, sans-serif;
  --header-bg: rgba(0,0,0,0.3);
  --white: #ffffff;
  --white-grey: #fafafa;
  --black: #000000;
  --black-grey: #cccccc;
}

/*================ Grid Breakpoints and Class Names ================*/
$grid-small: 414px;
$grid-medium: 768px;
$grid-large: 1024px;
$grid-widescreen: 1440px;

$small-down: 'small-down';
$small: 'small';
$small-up: 'small-up';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';

$breakpoints: (
  $small '(max-width: #{$grid-small})',
  $small-up '(min-width: #{$grid-small + 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large})',
  $medium-down '(max-width: #{$grid-large})',
  $medium-up '(min-width: #{$grid-large + 1})',  
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen})',
  $large-down '(max-width: #{$grid-widescreen})',
  $large-up '(min-width: #{$grid-widescreen + 1})',  
);

/*================ Media Query Mixin ================*/
@mixin media-query($media-query) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $name: nth($breakpoint, 1);
    $declaration: nth($breakpoint, 2);

    @if $media-query == $name and $declaration {
      $breakpoint-found: true;

      @media only screen and #{$declaration} {
        @content;
      }
    }
  }

  @if $breakpoint-found == false {
    @warn 'Breakpoint "#{$media-query}" does not exist';
  }
}

/*================ CSS Flexbox ================*/
.flex {
  display: flex;
}
.jcs {
  justify-content: flex-start;
}
.jcc {
  justify-content: center;
}
.jce {
  justify-content: flex-end;
}
.jcb {
  justify-content: space-between;
}
.ais {
  align-items: flex-start;
}
.aic {
  align-items: center;
}
.aie {
  align-items: flex-end;
}
.flex-column {
  flex-direction: column;
}
.flex--wrap {
  flex-wrap: wrap;
}
.flex--one-half {
  width: 50%;
}
.flex--two-third {
  width: 66.67%;
}
.flex--one-third {
  width: 33.33%;
}
.flex--one-fourth {
  width: 25%;
}
.flex-column {
  flex-direction: column;
}

@include media-query($small){
  .flex--mobile {
    flex-direction: column;
  }
  .flex--one-half,
  .flex--one-third,
  .flex--two-third {
    width: 100%;
  }
  .flex--one-fourth {
    width: 50%;
  }
}


/*================ CSS Grid ================*/
.grid {
  display: grid;
}
.grid--one-half {
  grid-template-columns: repeat(2, 1fr);
}
.grid--one-third {
  grid-template-columns: repeat(3, 1fr);
}
.grid--one-fourth {
  grid-template-columns: repeat(4, 1fr);
}

@include media-query($small){
  .grid--one-half,
  .grid--one-third {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid--one-fourth {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*================ Desktop & Mobile ================*/
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
}
.desktop-visible {
  display: block;
  @include media-query($small) {
    display: none;
  }
}
.mobile-visible {
  display: none;
  @include media-query($small) {
    display: block;
  }
}
.desktop-flex {
  display: flex;
  @include media-query($small) {
    display: none;
  }
}
.mobile-flex {
  display: none;
  @include media-query($small) {
    display: flex;
  }
}

body {
  margin: 0;
  font-family: var(--regular-font);
  font-size: 16px;
  line-height: 22px;
  overflow-y: scroll;
  word-break: break-word;
}
.wrapper {
  padding: 0 5px;
  max-width: 1440px;
  min-width: 240px;
  margin: 0 auto;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}
img {
  width: 100%;
}
.button {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  padding: 3px 12px;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  border: 1px solid;
  -moz-box-shadow: 0 1px 0 rgba(0,0,0,.1);
  -webkit-box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  box-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  background-color: #5b74a8;
  border-color: #29447e;
  margin: 0;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}
.padmore {
  padding-left: 16px;
  padding-right: 16px;
}
.button2sm {
  padding: 0 8px;
}
.w-75 {
  width: 75%;
}
.w-20 {
  width: 20%;
}
.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
#mainWrapper.active {
  position: fixed;
  width: 100%;
}
.bg-overlay {
  display: none;
  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 111;

  label {
    position: absolute;
    right: 30px;
    top: 26px;
    font-size: 25px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }

  &.active {
    display: block;
  }
}

/*============================================================================
                              Pan Zoom plugin styles
==============================================================================*/
.panWrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 9999;
  left: 0;
  top: 0;
  display: none;
  cursor: move;
}

.panWrapper * {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.panWrapper a.controls {
  background-size: 100%;
  width: 32px;
  height: 32px;
  display: block;
  position: absolute;
  left: 50%;
  z-index: 2;
  bottom: 30px;
  cursor: pointer;
}

.panWrapper a.controls.in {
  // background-image: url('img/zoomIn.png');
  margin-left: -30px;
}

.panWrapper a.controls.out {
  // background-image: url('img/zoomOut.png');
  margin-left: 30px;
}

.panWrapper a.controls.close {
  // background-image: url('img/close.png');
  left: auto;
  right: 30px;
  top: 30px;
}

.panWrapper .loading {
  z-index: 3;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -50px 0 0 -50px;
  width: 100px;
  height: 100px;
  // background-image: url('img/loading.gif');
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
}

.panWrapper img {
  max-width: unset !important;
}
/*============================================================================
                              Header styles
==============================================================================*/
.header {
  width: 100%;
  background-color: var(--header-bg);
  position: relative;
  z-index: 2;
}
.header-logo-nav {
  a {
    color: var(--white);
    font-size: 15px;
    padding: 0 25px;
    height: 68px;
    line-height: 68px;
    border-bottom: solid 2px transparent;
    font-weight: 700;

    &.active {
      border-bottom: solid 2px var(--white);
    }
  }

  .header__nav {
    ul {
      padding: 0 25px;
      li {
        display: none;
        color: var(--white);
        cursor: pointer;
        font-size: 15px;
        font-weight: 700;
        height: 68px;
        line-height: 68px;

        &.active {
          display: block;
        }
      }
    }
  }
}
/*============================================================================
                              Footer styles
==============================================================================*/
.footer {
  background-color: #eee;
  color: #777;
  padding: 40px 10px;
}
.footer-nav {
  a {
    padding: 0 25px;
  }
}
/*============================================================================
                              Homepage styles
==============================================================================*/
.hdrBg {
  background-position: center center;
  padding-top: 30%;
  background-size: cover;
  position: relative;
  margin: -70px auto 0;
  
  @include media-query($medium-up) {
    box-shadow: 0 -15px 40px 15px rgb(0 0 0 / 70%);
  }
}
.hdrBgTint {
  background-color: rgba(0,0,0,.05);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.bHdr {
  text-align: center;
  background-image: linear-gradient(to bottom,transparent 0%,rgba(0,0,0,.2) 100%);
}
.bHdrTxt {
  color: #fff;
  text-shadow: 0 0 10px rgb(0 0 0 / 30%);
  position: relative;
  text-shadow: -1px -1px 0 rgb(0 0 0 / 50%), 1px -1px 0 rgb(0 0 0 / 50%), -1px 1px 0 rgb(0 0 0 / 50%), 1px 1px 0 rgb(0 0 0 / 50%);
  text-shadow: 0 0 2px black, 0 0 3px black;
  padding: 0 5px;

  h1 {
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
  }

  span {
    font-weight: 900;
  }
}
.sBoxW {
  height: 50px;
  text-align: center;
  padding: 20px 5px 55px;
}
.sBox {
  display: inline-block;
  width: 100%;
  max-width: 720px;
  box-sizing: border-box;
  border: 2px solid var(--black-grey);
  -webkit-border-radius: 25px;
  -khtml-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  text-align: left;
  background-color: var(--white-grey);

  .s {
    font-size: 17px;
    line-height: 46px;
    background: var(--white);
    width: 100%;
    height: 46px;
    box-sizing: border-box;
    margin: 0;
    padding: 0 40px;
    border: 1px solid #999;
    outline: none;
    box-shadow: none;
    border-radius: 23px;
    padding-left: 16px;
  }

  img {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    opacity: 0.7;
  }
}

.boxCtnt {
  padding: 10px;

  input[type=checkbox] {
    vertical-align: middle;
  }

  input:checked~.chkBox2_box {
    background: #a0a0a0;
  }

  label {
    display: block;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
  }
  
  .fTtl {
    font-size: 15px;
    font-weight: 700;
    color: var(--black);
  }

  .chkBox2 {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 5px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 16px;

    input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      &:checked~.chkBox2_box:after {
        display: block;
      }
    }

    .chkBox2_box {
      position: absolute;
      top: 2px;
      left: 0;
      width: 15px;
      height: 15px;
      border-radius: 3px;
      background: #fff;
      border: 2px solid #a0a0a0;

      &:after {
        box-sizing: unset;
        content: '';
        position: absolute;
        display: none;
        left: 4px;
        top: 1px;
        width: 4px;
        height: 8px;
        border: solid #fff;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
    }
  }
}
.boxBut {
  text-align: center;
  margin: 0 10px 10px;

  a {
    color: #555;
    background-color: var(--white);
    border: solid 2px #999;
    margin-left: 10px;
    border-radius: 4px;
  }
}

.hdrItems {
  margin-top: 50px;
}
.hdrItems-list__inner {
  padding: 18px;
  border: 1px solid #ddd;
  position: relative;

  &:hover .hdrItems-list__inner-overlay {
    display: block;
  }

  .hdrItems-list__inner-overlay {
    display: none;
    position: absolute;
    width: calc(100% - 36px);
    height: calc(100% - 36px);
    background-color: rgba(0,0,0,0.4);
  }
}
.hdrItem--category {
  li {
    a {
      color: var(--black);
    }
  }
}

/*============================================================================
                              Gallery popup
==============================================================================*/
.popup-gallery-data {
  width: 1000px;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 111;
  background-color: var(--white);
  border-radius: 10px;
  display: none;

  &.active {
    display: block;
  }

  .popup-gallery-data__inner {
    .gallery-data-image {
      width: 60%;
      padding: 30px 30px 0 30px;
    }

    .gallery-data-info {
      width: 30%;
      background-color: #f5f5f5;
      border-radius: 10px;

      h2 {
        padding: 20px 0 10px 10px;
        line-height: 1;
        font-size: 26px;
      }

      .gallery-data-items {
        border-bottom: solid 1px #ddd;
        border-top: solid 1px #ddd;
        padding: 20px 0 10px 10px;

        .gallery-data-content__item {
          margin-bottom: 25px;
          overflow: hidden;
          label {
            color: #3c5a99;
            cursor: pointer;

            img {
              max-width: 17px;
              margin-left: 10px;

              &.icon-down-arrow {
                display: none;
              }
            }
          }

          > div {
            display: none;
          }

          &.active label img {
            &.icon-down-arrow {
              display: block;
            }
            &.icon-up-arrow {
              display: none;
            }
          }
        }
      }

      .gallery-entire-buy {
        border-bottom: solid 1px #ddd;
        padding: 20px 10px 10px 10px;

        label, span {
          color: #3c5a99;
        }

        .gallery-entire-buy-btn {
          text-align: right;

          a {
            border-radius: 4px;
            border: solid 1px #3c5a99;
            padding: 8px 20px;
            display: inline-block;
            color: white;
            background-color: #3c5a99;
          }
        }
      }

      .gallery-pieces-buy {
        padding: 20px 10px 10px 10px;

        label, span {
          color: #3c5a99;
        }

        .gallery-pieces-buy-info {
          margin-bottom: 10px;

          input {
            width: 80px;
            margin-right: 5px;
            height: 30px;
            margin-left: 5px;
          }
        }

        .gallery-pieces-buy-btn {
          text-align: right;

          a {
            border-radius: 4px;
            border: solid 1px #3c5a99;
            padding: 8px 20px;
            display: inline-block;
            color: white;
            background-color: #3c5a99;
          }
        }
      }
    }
  }
}