/* Homepage */
@media screen and (max-width: 768px) {
  .hdrBg {
    padding-top: 5%;
    margin: 0 auto 0;
  }

  .header {
    padding: 10px;
    .header__logo,
    .header__nav a {
      display: none;
    }
    
  }

  .footer {
    display: none;
  }

  .bHdr {
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .bHdrTxt {
    display: none;
  }
  
  .hdrItems-sidebar {
    display: none;
  }
  
  #hdrItems {
    width: 100% !important;
  }

  .popup-gallery-data {

    .popup-gallery-data__inner {
      flex-direction: column;

      .gallery-data-image {
        width: 100%;
      }

      .gallery-data-info {
        width: 100%;
      }
    }
  }

  .get-gallery {
    box-shadow: none;
    margin: 0 auto;
    padding: 20px 15px;

    .get-gallery__inner {
      .get-gallery-image-info {
        flex-direction: column;
  
        .get-gallery-image {
          width: 100%;
          height: 100%;
        }
  
        .get-gallery-info {
          margin: 20px 0 0 0;
          width: 100%;

          label {
            font-size: 14px;
          }
        }
      }

      .get-gallery-contact {
        label {
          font-size: 14px;
        }

        .agree-check-btns {
          flex-direction: column;
          align-items: flex-start;
  
          .btns-save-cancel {
            width: 100%;
          }
        }
      }
    }
  }
}

/* Account Page */
.account-deposits-page {
  .block-admin-deposit {
    margin-top: 100px;
    box-shadow: 0px 2px 7px 6px rgb(0 0 0 / 43%);
    border-radius: 5px;
    padding: 20px 15px;
    position: relative;
  }

  .deposit-form {
    text-align: center;
    margin: 100px 0 20px;

    .deposit-form-price {
      .input-group {
        height: 46px;
        margin-right: 10px;
      }
    }

    img {
      width: auto;
    }
  }
}